<div class="row">
    <!--BootStrap trick = Quick way to center content -->
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="city"/>
        </div>
        <a href="#/forecast" class="btn btn-primary">Get Forecast</a>
    </div>
</div>

<hr />

<div class="row">
    <!--BootStrap trick = Quick way to center content -->
    <div class="col-md-6 col-md-offset-3">
        <h4>Stock Price</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="stock"/>
        </div>
        <a href="#/stock" class="btn btn-primary">Get Stock Price</a>
    </div>
</div>